/* Import Cascadia Font */
@font-face {
  font-family: 'Cascadia Code', monospace;
  src: local('Cascadia Code'), url('/assets/fonts/cascadia-code.woff2') format('woff2');
}

/* General Layout Styles */
.site-layout-background {
  background: #001529; /* Background color for Sider */
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  padding: 0 24px;
  background: #001529; /* Header background color */
  color: #fff; /* Header text color */
  border-bottom: 1px solid #1890ff; /* Bottom border color */
  font-family: 'Cascadia Code', monospace; /* Font for header */
}

.menu-trigger {
  font-size: 16px;
  width: 64px;
  height: 64px;
  background: #001529;
  color: #fff;
  border: none;
  margin-right: 16px;
}

.menu-trigger:hover {
  background: #1890ff;
}

.logo {
  flex: 1;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.header-right {
  display: flex;
  align-items: center;
}

/* Sider Styles */
.ant-layout-sider {
  background: #001529; /* Background color for Sider */
  color: #fff; /* Default text color in Sider */
  font-family: 'Cascadia Code', monospace; /* Font for Sider */
}

.ant-menu {
  background: #001529; /* Background color for Menu in Sider */
  border-right: 1px solid #1890ff; /* Border color for Menu */
}

.ant-menu-item,
.ant-menu-submenu-title {
  color: #fff !important; /* Default text color for Menu items and Submenu titles */
  font-family: 'Cascadia Code', monospace; /* Font for Menu items and Submenu titles */
}

.ant-menu-item-active {
  background: #050b11; /* Background color for active menu item */
  color: #fff !important; /* Text color for active menu item */
}

.ant-menu-item:hover {
  background: #020f1a; /* Background color for hover effect */
  color: #fff !important; /* Ensure white text color for hover effect */
}

/* Drawer Styles */
.ant-drawer-body {
  padding: 0; /* Remove default padding */
}

.ant-drawer-header {
  background: #001529; /* Drawer header background color */
  color: #fff; /* Drawer header text color */
}

.ant-drawer-close {
  color: #fff; /* Close button color */
}

/* Content Styles */
.ant-layout-content {
  background: #fff; /* Content background color */
  padding: 24px;
  margin: 0;
  min-height: 280px;
  font-family: 'Cascadia Code', monospace; /* Font for content */
}

/* Footer Styles */
.ant-layout-footer {
  text-align: center;
  background: #f0f2f5; /* Footer background color */
  padding: 16px;
  border-top: 1px solid #ddd; /* Footer border color */
  font-family: 'Cascadia Code', monospace; /* Font for footer */
}
