.template1 {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.content-container {
  max-width: 800px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
}

.user-image-header {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-item, .section {
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
}

.user-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
