.template3 {
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  padding: 20px;
  background-color: #f4f4f4;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden; /* Ensure content does not overflow */
}

.resume-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto; /* Adjust height to content */
  box-sizing: border-box;
}

.resume-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.objective-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.objective-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.resume-section {
  margin-bottom: 20px;
}

.resume-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.resume-section p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.resume-section p strong {
  color: #333;
}

@media (max-width: 768px) {
  .resume-title {
    font-size: 24px;
  }

  .contact-info p,
  .objective-text,
  .resume-section p {
    font-size: 14px;
  }

  .resume-section h3 {
    font-size: 18px;
  }
}
