/* styles/template-1.css */

@page {
  size: A4;
  margin: 20mm;
}

.template1 {
  width: 100%;
  height: auto; /* Adjust the height as needed */
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
}

.header {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-item {
  margin-bottom: 0.5rem;
}

.section {
  margin-bottom: 1.5rem;
}

.list {
  padding-left: 0;
  list-style: none;
}

.list-item {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.list-item strong {
  display: block;
  margin-bottom: 0.25rem;
}

@media print {
  .template1 {
    height: auto;
    width: auto;
  }
}

.template1 {
  padding: 10px; /* Decreased padding */
  margin: 0 auto;
}

.template1 h1, .template1 h2 {
  margin-bottom: 15px; /* Decreased margin for headings */
}

.template1 p, .template1 li {
  padding: 2px 0; /* Reduced padding for paragraphs and list items */
  margin: 2px 0; /* Reduced margin for paragraphs and list items */
}
