/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap');


.heading {
    font-family: 'Cascadia Code', monospace;
    font-weight: 700;
  }
  
  .experience-section {
    font-family: 'Cascadia Code', monospace;
    font-weight: 400;
  }
  