/* src/fonts.css */
@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CascadiaCode.woff2') format('woff2'),
         url('/fonts/CascadiaCode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
.name {
    font-family: 'Cascadia Code', monospace;
  }
  